html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    height: 97vh;
    width: 97vw;
}

body {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#main-content {
    height: 95%;
    width: 95%;
}

main#main-content section {
    height: 90%;
    width: 100%;
}

main#main-content section>div.card {
    height: 80%;
    padding: 10px;
    display: flex;
    background-color: #ffb8c9;
    border-radius: 1.6rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

main section>div.card>img {
    width: 50%;
}

main div.recipe-data {
    height: 80%;
    width: 80%;
}

div.recipe-data div.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.recipe-data div.ingredients>div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}


div.recipe-data div.ingredients div.measure-label {
    font-size: small;
    text-align: center;
    margin: 0.24rem;
}

div.recipe-data div.ingredients div.measure {
    display: flex;
}

div.recipe-data div.ingredients div.measure-label h3 {
    margin: 0;
}

div.recipe-data div.ingredients p {
    width: 50%;
    font-size: 20px;
    margin: 0;
}

.icons {
    margin: 0.24rem;
    height: 2.4rem;
}

/* Estilos para telas de até 768 pixels de largura */
@media (max-width: 920px) {
    /* Seus estilos para telas menores ou iguais a 768 pixels de largura */
    main#main-content {
        height: 100%;
        display: grid;
        grid-template-rows: 30%;
        align-content: space-between;
    }

    main#main-content section>div.card {
        height: 80%;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: #ffb8c9;
        border-radius: 1.6rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    main section>div.card>img {
        width: 100%;
        position: relative;
        top: -1.6rem;
    }
    main section>div.card div.recipe-data {
        height: 80%;
        width: 90%;
        border-radius: .32rem;
        padding: 12px;
        background-color: hsla(0, 0%, 100%, 0.482);
    }
    main section>div.card div.recipe-data h2 {
       margin: 0;
       font-size: 32px;
       text-align: center;
    }
}
