html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    height: 97vh;
    width: 97vw;
}

body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > h1, main > h2, main > h3, main > p{
    color: aliceblue;
}

main h1, main h2 {
    font-family: 'Nosifer', sans-serif;
    color: rgb(133, 24, 24);
        
}

main#main-content {
    height: 95%;
    width: 95%;
}

main#main-content section {
    height: 90%;
}

main#main-content section>div.card {
    height: 80%;
    padding: 10px;
    margin-right: 3.2%;
    display: flex;
    background-color: #f16b42;
    border-radius: 1.6rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

main section>div.card>img {
    width: 50%;
}

main div.recipe-data {
    height: 80%;
    width: 80%;
}

div.recipe-data div.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.recipe-data div.ingredients>div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}


div.recipe-data div.ingredients div.measure-label {
    font-size: small;
    text-align: center;
    margin: 0.24rem;
}

div.recipe-data div.ingredients div.measure {
    display: flex;
}

div.recipe-data div.ingredients div.measure-label h3 {
    margin: 0;
}

div.recipe-data div.ingredients p {
    width: 50%;
    font-size: 20px;
    margin: 0;
}

.icons {
    margin: 0.24rem;
    height: 2.4rem;
}


/* Estilos para telas maiores que 920px */
/* Medida temporária, para garantir o funcionamento em festas */
@media (min-width: 920px) {
    main#main-content {
        display: none;
    }
  }

/* Estilos para telas de até 768 pixels de largura */
@media (max-width: 920px) {
    main#desktop-content{
        display: none;
    }
    main#main-content {
        height: 100%;
    }
    main#main-content section {
        height: fit-content;
        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
    }

    section > div.cards-container {
        display: flex;
        width: fit-content;
        transition: transform 0.1s ease;
    }

    main#main-content section div.card {
        height: fit-content;
        min-width: 60%;
        padding: 10px;
        margin-right: 5%;
        flex: 0 0;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: white;
        border-radius: 1.6rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        
    }
    main section div.card>img {
        width: 100%;
    }
    main section div.card div.recipe-data {
        height: 80%;
        width: 90%;
        border-radius: .32rem;
        padding: 12px;
        background-color: hsla(0, 0%, 100%, 0.482);
    }
    main section div.card div.recipe-data h2 {
       margin: 0;
       font-size: 32px;
       text-align: center;
    }
}
